# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

#corel
Automatisch beibehalten von Corel

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# OSX
.DS_Store
.AppleDouble
.LSOverride

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# User-specific files
*.exe
*.pre.pb
*.temp.*
*.bat